<div class="leaderboard-switch">
    <% if (currentPage === 'leaderboard') { %>
      <a id="toggle-button" href="/leaderboard/private">Go to Friends Leaderboard</a>
    <% } else { %>
      <a id="toggle-button" class="private" href="/leaderboard/public">Go to Public Leaderboard</a>
    <% } %>
</div>