<div class="bottom-navbar">
    <a href="/userhome" class="nav-item">
      <i class="icon icon-home"></i>
    </a>
    <a href="/achievements" class="nav-item">
      <i class="icon icon-achievements"></i>
    </a>
    <a href="/leaderboard" class="nav-item">
      <i class="icon icon-leaderboard"></i>
    </a>
  </div>
  