<div class="bottom-navbar">
  <a class="nav-item <%= currentPage === 'friends' ? 'active' : '' %>" href="/friends/index">
    Friends
  </a>
  <a href="/feed" class="nav-item <%= currentPage === 'feed' ? 'active' : '' %>">
    <i class="icon icon-achievements">Feed</i>
  </a>
  <a href="/leaderboard" class="nav-item <%= currentPage === 'leaderboard' ? 'active' : '' %>">
    <i class="icon icon-leaderboard">Leaderboard</i>
  </a>
</div>
