<div class="bottom-navbar">
    <a href="/friends" class="nav-item">
      <i class="icon icon-home">Friends</i>
    </a>
    <a href="/feed" class="nav-item">
      <i class="icon icon-achievements">Feed</i>
    </a>
    <a href="/leaderboard" class="nav-item">
      <i class="icon icon-leaderboard">Leaderboard</i>
    </a>
  </div>
  