<div class="bottom-navbar">
  <a href="/friends/index"><img class="friendsicon icons" src="/images/friendsicon.png" alt="Friends"></a>
  <a href="/feed"><img class="feedicon icons" src="/images/feedicon.png" alt="Feed"></a>
  <a href="/leaderboard/public"><img class="leaderboardicon icons" src="/images/leaderboardicon.png" alt="Feed"></a>
</div>
