<div class="bottom-navbar">
  <a href="/friends/index"><img class="friendsicon" src="/images/friendsicon.png" alt="Friends"></a>
  <a href="/feed"><img class="feedicon" src="/images/feedicon.png" alt="Feed"></a>
  <a href="/feed"><img class="leaderboardicon" src="/images/leaderboardicon.png" alt="Feed"></a>
</div>
