<div class="top-navbar">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="Logo"></a>
    </div>
    <div class="page-title">
      <%= pageTitle %>
    </div>
    <div class="user-action">
      <% if (currentPage === 'userhome') { %>
        <form action="/logout" method="get">
          <button type="submit">Log Out</button>
        </form>
        <% } else { %>
          <form action="/" method="get">
            <button type="submit">Home</button>
          </form>
          <!-- <a href="/"></a> -->
      <% } %>
    </div>
  </div>
  