<div class="top-navbar">
    <div class="logo">
      <a href="/"><img src="/images/fulllogo.png" alt="Logo"></a>
    </div>
    <div class="page-title">
      <%= pageTitle %>
    </div>
    <div class="user-action">
      <% if (currentPage === 'userhome') { %>
        <form action="/logout" method="get">
          <button type="submit" class="logoutbutton">Log Out</button>
        </form>
      <% } else { %>
        <a href="/"></a>
      <% } %>
    </div>
  </div>
  