<!DOCTYPE html>
<html>
<head>
    <title>Add Habit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'Add Habit', currentPage: 'add-habit' }) %>
    <div class="container">
        <form class="add-habit-form" action="/add-habit" method="post">
            <label for="title">Habit Title</label>
            <input type="text" name="title" required>
            <label for="description">Description</label>
            <textarea name="description" rows="5" required></textarea>
            <label for="logDay">Log habit every:</label>
            <select name="logDays" id="logDays" multiple>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
              </select>
            <label for="duration">Habit Duration (days)</label>
            <input type="number" name="duration" required>
            <div class="toggle-container">
                <label for="isPublic">Make habit public</label>
                <input type="checkbox" name="isPublic">
            </div>
            <button type="submit">Add Habit</button>
        </form>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>
