<!DOCTYPE html>
<html>
<head>
    <title>Add Habit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'Add Habit', currentPage: 'add-habit' }) %>
    <div class="container">
        <form class="add-habit-form" action="/add-habit" method="post">
            <label for="title">Habit Title</label>
            <input type="text" name="title" required>
            <label for="description">Description</label>
            <textarea name="description" rows="5" required></textarea>
            <label for="logDay">Log habit every:</label>
            <select name="logDay">
                <option value="mon">Monday</option>
                <option value="tue">Tuesday</option>
                <option value="wed">Wednesday</option>
                <option value="thu">Thursday</option>
                <option value="fri">Friday</option>
                <option value="sat">Saturday</option>
                <option value="sun">Sunday</option>
            </select>
            <label for="duration">Habit Duration (days)</label>
            <input type="number" name="duration" required>
            <div class="toggle-container">
                <label for="isPublic">Make habit public</label>
                <input type="checkbox" name="isPublic">
            </div>
            <button type="submit">Add Habit</button>
        </form>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>
