<!DOCTYPE html>
<html>
<head>
    <title>Edit Habit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'Edit Habit', currentPage: 'edit-habit' }) %>
    <h1>Edit Habit</h1>
    <form action="/userhome/update-habit/<%= habit.id %>" method="post">
        <label for="habit">Habit</label>
        <input type="text" name="habit" value="<%= habit.name %>" required>
        <button type="submit">Update Habit</button>
    </form>
    <form action="/delete-habit/<%= habit.id %>" method="post">
        <button type="submit">Remove Habit</button>
    </form>
</body>
</html>
