/* html {
  height: auto;

} */

body {
  background:#f2f0f0;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

.friendsicon {
  height: 7vh;
  width: 7vh;
}

.feedicon {
  position: relative;
  top: 3px;
  left: 7px;
  height: 75px;
  width: 85px;
}

.leaderboardicon {
  height: 75px;
  width: 85px;
}

.homeicon {
  height: 65px;
  width: 65px;
}

/* Make container responsive */
.container {
    max-width: 100%; /* Set a max-width to prevent container from getting too wide */
    margin: 0 auto;
    padding: 15px;
    font-size: 15px;
    /* padding-bottom: 100px; */
  }
  
  /* Top Navbar styles */
  .top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .logo img {
    height: 8vh; /* Use viewport units to make the logo responsive */
  }

  .fulllogo img {
      padding-top: 20%;
      height:20vh; /* Set the height of the image to 100% to fill the parent container */
      width: 20vh; /* Set the width of the image to 100% to fill the parent container */
      padding-bottom: 10%;
  }

  label {
    display: block;
    width: 100%;
  }

  .loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginform {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    width: 80%;
  }
  
  .passwordcontainer {
    padding-bottom: 30px;
  }

  .loginbutton {
    height: 50px;
    width: 100%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #0EA47a; 
    color: #fff;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .loginbutton:hover {
    background-color: #15c795;
  }


  .loginbutton:active {
    background-color: #056c4f;
  }

  input[type="email"], input[type="password"], input[type="text"] {
    height: 60px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    bottom: 2px;
  }

  .padding {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logoutbutton {
    color: white;
    border: none;
    background-color: #0EA47a;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .logoutbutton:hover {
    background-color: #15c795;
  }

  .logoutbutton:active {
    background-color: #056c4f;
  }


  .page-title {
    font-size: calc(25px + 0.5vw); /* Use calc and viewport units to make the title responsive */
  }
  
  .user-action {
    font-size: calc(20px + 0.5vw); /* Use calc and viewport units to make the user action responsive */
  }
  


  /* Bottom Navbar styles */
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    margin: 10px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    z-index: 1000;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: calc(10px + 0.5vw); /* Use calc and viewport units to make the nav item font size responsive */
  }

  
  /* Add a media query to handle larger screens */
  /* @media screen and (min-width: 769px) {
    .bottom-navbar {
      display: none;
    }
  } */
  
  /* Add a media query to handle smaller screens */
  /* @media screen and (max-width: 768px) {
    .bottom-navbar {
      display: flex;
    }
  } */
  
  /* add-habit styles */
  .add-habit-form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
  }
  
  .add-habit-form label,
  .add-habit-form input,
  .add-habit-form select {
      margin-bottom: 10px;
  }

  .add-habit-form button {
    background-color: #0EA47a;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }

  .add-habit-form button:hover {
    background-color: #15c795;
  }

  .add-habit-form button:active {
    background-color: #056c4f;
  }
  
  .toggle-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  /* userhome/index.ejs styles */
  #add-habit-btn {
    position: fixed;
    bottom: 110px;
    right: 20px;
    background-color: #0EA47a;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    z-index: 1000;
  }
  
  
  #add-habit-btn:hover {
      background-color: #15c795;
  }
  
  #add-habit-btn:active {
    background-color: #0c8664;
}
  /* Habit styles */
  .habit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

textarea {
  height: 100px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
}

.habit {
    position: relative;
    background-color: #333;
    height: 50px;
    color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.habit:hover {
  background-color: #555;
}

.habit:active {
  background-color: #474747;
}




.habit-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-in-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color:white;
}

.check-in-btn:hover {
  background-color: #555;
  color: #0EA47a
}

.checked-in {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #0EA47a;
}

.next-check-in {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}
