

body {
  background: linear-gradient(to bottom, #f2f0f0, #d3efc8);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}


button {
  cursor: pointer;
}

.friendsicon {
  height: 80px;
  width: 70px;
}

.friendsicon:hover {
  height: 85px;
  width: 75px;
}

.friendsicon:active {
  height: 75px;
  width: 65px;
}

.feedicon {
  position: relative;
  left:15px;
  bottom: 3px;
  height: 80px;
  width: 65px;
}

.feedicon:hover {
  height: 85px;
  width: 70px;
}

.feedicon:active {
  height: 75px;
  width: 60px;
}

.leaderboardicon {
  height: 85px;
  width: 110px;
}

.leaderboardicon:hover {
  height: 90px;
  width: 115px;
}

.leaderboardicon:active {
  height: 80px;
  width: 105px;
}

.homeicon {
  height: 65px;
  width: 65px;
}

.homeicon:active {
  height: 60px;
  width: 60px;
}

.logouticon {
  height: 55px;
  width: 55px;
}

.logouticon:active {
  height: 50px;
  width: 50px;
}


/* Make container responsive */
.container {
    max-width: 100%; /* Set a max-width to prevent container from getting too wide */
    margin: 0 auto;
    padding: 15px;
    padding-bottom:50px;
    font-size: 15px;
  }
  
  #logDays {
    display: flex;
    flex-direction: column;
  }

  .top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 10px;
    background:#333;
    border: none;
    color: white;
  }
  
  
  .logo img {
    height: 8vh; /* Use viewport units to make the logo responsive */
  }

  .fulllogo img {
      padding-top: 20%;
      height:20vh; /* Set the height of the image to 100% to fill the parent container */
      width: 20vh; /* Set the width of the image to 100% to fill the parent container */
  }

  label {
    display: block;
    width: 100%;
  }

  .loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginform {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    width: 80%;
  }
  
  .passwordcontainer {
    padding-bottom: 30px;
  }

  .loginbutton {
    height: 50px;
    width: 100%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #0EA47a; 
    color: #fff;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .loginbutton:hover {
    background-color: #15c795;
  }


  .loginbutton:active {
    background-color: #056c4f;
  }

  input[type="email"], input[type="password"], input[type="text"] {
    height: 60px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    bottom: 2px;
  }

  .padding {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logoutbutton {
    color: white;
    border: none;
    background-color: #0EA47a;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .logoutbutton:hover {
    background-color: #15c795;
  }

  .logoutbutton:active {
    background-color: #056c4f;
  }


  .page-title {
    font-size: calc(25px + 0.5vw); /* Use calc and viewport units to make the title responsive */
  }
  
  .user-action {
    font-size: calc(20px + 0.5vw); /* Use calc and viewport units to make the user action responsive */
  }
  

  /* Bottom Navbar styles */
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    z-index: 1000;
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: calc(10px + 0.5vw); /* Use calc and viewport units to make the nav item font size responsive */
  }

  
  /* Add a media query to handle larger screens */
  /* @media screen and (min-width: 769px) {
    .bottom-navbar {
      display: none;
    }
  } */
  
  /* Add a media query to handle smaller screens */
  /* @media screen and (max-width: 768px) {
    .bottom-navbar {
      display: flex;
    }
  } */
  
  /* add-habit styles */
  .add-habit-form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
  }
  
  .add-habit-form label,
  .add-habit-form input,
  .add-habit-form select {
      margin-bottom: 5px;
  }

  .add-habit-form button {
    background: linear-gradient(to right, #0EA47a, #329D9C);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }

  .add-habit-form button:hover {
    background: #15c795;
  }

  .add-habit-form button:active {
    background: #056c4f;
  }

  .delete-habit-form {
    display: flex;
    justify-content: center;
  }
  
  #remove-habit-btn {
    background: linear-gradient(to right, #e40000, #d60000);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin: 20px;
    width: 400px;
  }
  
  #remove-habit-btn:hover {
    background: #ff0000;
  }

  #remove-habit-btn:active {
    background: #820000;
  }
  

  .toggle-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  /* userhome/index.ejs styles */
  #add-habit-btn {
    position: fixed;
    bottom: 110px;
    right: 20px;
    background: linear-gradient(to right, #0EA47a, #329D9C);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    z-index: 1000;
  }
  
  
  #add-habit-btn:hover {
      background: #15c795;
  }
  
  #add-habit-btn:active {
    background: #0c8664;
}
  /* Habit styles */
  .habit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

textarea {
  height: 100px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
}

.habit {
    position: relative;
    background-color: #333;
    height: 50px;
    color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.habit:hover {
  background-color: #555;
}

.habit:active {
  background-color: #474747;
}


.habit-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-in-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color:white;
}

.check-in-btn:hover {
  background-color: #555;
  color: #0EA47a
}

.checked-in {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #0EA47a;
}

.next-check-in {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.points-display {
  font-size: 1.25rem;
}

.missed-check-in {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 1;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: #d9534f;
}

.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}


#add-friends-btn {
    position: fixed;
    bottom: 110px;
    right: 20px;
    background: linear-gradient(to right, #0EA47a, #329D9C);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    z-index: 1000;
  }

  #add-friends-btn:hover {
    background: #15c795;
  }

  #add-friends-btn:active {
  background: #0c8664;
  }


  .search-results {
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
  }

  #follow-btn {
    position: relative;
    background: linear-gradient(to right, #0EA47a, #329D9C);
    height: 50px;
    color: white;
    margin-top: 10px;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }

  #follow-btn:hover {
    background: #15c795;
  }

  #follow-btn:active {
  background: #0c8664;
  }

  .friend {
    position: relative;
    background: linear-gradient(to right, #0EA47a, #329D9C);
    height: 50px;
    color: white;
    margin-top: 10px;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }

  .friend:hover {
    background:#15c795;
  }

  .friend:active {
    background: #0c8664;
    }
  
/* Leaderboard styles (FEEL FREE TO EDIT THESE OR CHANGE THEM TO MAKE IT LOOK NICER LMAO) */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leaderboard-row,
.leaderboard-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  gap: 20px;
  justify-items: start;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.leaderboard-row.special {
  font-size: 24px;
  font-weight: bold;
  color: #0EA47a;
}

.leaderboard-row:nth-child(2) {
  color: gold;
}

.leaderboard-row:nth-child(3) {
  color: silver;
}

.leaderboard-row:nth-child(4) {
  color: #cd7f32;
}

.leaderboard-switch {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.leaderboard-switch button {
  background-color: #0EA47a;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  flex-grow: 1;
}

.leaderboard-switch button:hover {
  background-color: #15c795;
}

.leaderboard-switch button:active {
  background-color: #056c4f;
}

.leaderboard-switch button.selected {
  background-color: #056c4f;
}
