<!DOCTYPE html>
<html>
<head>
    <title>Friend Page</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript.js"></script>
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'My Habits', currentPage: 'userhome' }) %>
    <%- include('../partials/navbar', { currentPage: 'userhome' }) %>
</body>
</html>
