<!DOCTYPE html>
<html>
<head>
    <title>Feed Page</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('../partials/top-navbar', { pageTitle: 'Feed', currentPage: 'feed' }) %>
    <div class="container">
        <% if (user) { %>
            <% user.feed.forEach((item) => { %>
                <div class="feed-item">
                  <p><%= item.text %></p>
                  <p><small><%= item.date %></small></p>
                </div>
              <% }) %>              
        <% } else { %>
            <h1>Welcome, please log in or register.</h1>
            <a href="/login">Login</a> | <a href="/register">Register</a>
        <% } %>
    </div>
    <%- include('../partials/navbar') %>
</body>
</html>
